@import '~@/styles/_screenSizes';
@import "src/styles/colors";
.requestsListDisplay {
    display: inline-block;
    width: 25%;
    @media (max-width: #{$tablet-width - 1px}) {
        width: 100%;
    }
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        width: 40%;
    }
}

h2 {
    padding: 5px;
}

li {
    list-style: none;
}

hr {
    height: 2px;
    border-width: 0;
    background-color: $secondary;
}

.searchBox {
    height: 40px;
    margin-bottom: 2vh;
    display: flex;
    > {
        display: inline;
    }
    button {
        border: none;
    }
    input {
        width: 100%;
        margin-right: 20px;
    }
}

.notfound {
    align-self: center;
    width: 85%;
    margin: 0 5%;
    padding: 5px 0;
    text-align: center;
    border-radius: 7px;
    background: darken($logo, 7%);
}

.foldersList {
    width: 100%;
    height: 70vh;
    padding: 5px 5px;
    overflow: hidden;
    overflow-y: scroll;
    ul {
        margin: 0;
        padding: 10px;
    }
}

.folder {
    margin-top: 20px;
    width: 90%;
    justify-content: center;
    .folderName {
        height: 50px;
        input,
        button {
            display: inline-block;
        }
        input {
            width: 50%;
            font-size: 23px;
            border: none;
            color: $primary;
            background: none;
        }
        button {
            width: 30px;
            border: none;
            padding: none;
            float: right;
            text-align: right;
            padding: 6px;
            cursor: pointer;
            &:active {
                outline: none;
            }
        }
    }
}

ul.requestsList {
    width: 80%;
    font-weight: 500;
    font-size: 16px;
    hr {
        height: 1px;
        background-color: $logo;
    }
    .request {
        margin: 20px 0px;
        cursor: grab;
        .method,
        .endpoint,
        .requestPoint {
            text-align: left;
            display: inline-block;
            padding: 5px;
        }
        .method {
            width: 20%;
        }
        .endpoint {
            width: 52%;
        }
        .requestPoint {
            background: $light_logo;
            text-align: center;
            font-size: 12px;
            width: 40px;
            border-radius: 5px;
        }
    }
}
