@import '~@/styles/codeEditor';
@import '~@/styles/_screenSizes';

.codeEditor{
    display: inline-block;
    width: 55%;
    @media (max-width: #{$tablet-width - 1px}) {
        width: 93%;
    }
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        margin: 10px 1vw;
    }
    @media (min-width: #{$desktop-width}) {
        margin: 10px 5vw;
    }
}

.editorSelector {
    margin-inline: 10px;
}
.method,
.endpoint {
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
}
.endpoint {
    width: 65%;
    border: none;
    padding: 10px 1px;
    border-bottom: 1px solid $primary;
    margin-left: 2%;
    color: $primary;
    background: none;
}
.method {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    color: $primary;
    border: none;
    width: 100px;
}
.actions {
    margin-inline: 20px;
}
.deleteButton {
    border: none;
    padding: 10px 13px;
    margin-left: 25px;
    display: inline-block;
}
